/* navigation */
#navbar{
    flex-direction: column;
}

/* home section */
#home{
height: 280px;
flex
}

/* services section */
#services{
    flex-direction: column;

}

#services.box{

}

/* client section */
#clients{
    overflow: hidden;
}

/* contact us section */

/* footer */


